<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
      <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" style="color: honeydew;" href="#">Friends Bank</a>
  <div class="profile-logo dropstart ms-auto me-2">
    <ul class="nav flex-row justify-content-end order-1 order-lg-2">
        <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
            <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
            <div class="d-flex align-items-start">
                <div class="status-indicator-container me-3">
                    <img
                    src="../../../assets/img/user.png" alt=""
                    class="rounded-pill" style="width: 30px;">
                    </div>

                <div class="flex-fill mt-1">
                    <div class="d-flex justify-content-between  align-items-center">
                        <div class="fw-semibold text-white">Krish</div>
                    </div>
                </div>
            </div>
        </a>

            <div class="dropdown-menu dropdown-menu-end">
                <a  class="dropdown-item">
                    <i class="ph-user-circle me-2"></i>
                    My profile
                </a>
                <div class="dropdown-divider"></div>
                <a  class="dropdown-item cursor_pointer">
                    <i class="ph-sign-out me-2"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>

  </div>
</nav>
