<div class="page-header page-header_compress page-header-light shadow">
    <div class="page-header-content d-lg-flex pt-2">
        <div class="d-flex mx-2">
            <div class="breadcrumb"><a href="/" class="breadcrumb-item"><i class="fa-solid fa-house"></i></a><span
                    class="breadcrumb-item">Members</span>
            </div>
        </div>
    </div>
    <div class="page-header-content d-lg-flex border-top py-2 mx-2">
        <div class="d-flex">
            <h4 class="page-title mb-0"><span class="fw-normal">Members</span></h4>
        </div>
        <button type="button" class="btn btn-primary ms-auto me-2" (click)="openCreateModal(modalBox,undefined)"><i
                class="fa fa-plus"></i>Add</button>
    </div>
</div>

<div class="row px-3 mt-4">
    <div class="col">
        <div class="card shadow">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="datatable-scroll">
                    <table class="table datatable-html no-footer" id="DataTables_Table_0"
                        aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Position: activate to sort column ascending">Mobile
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Age: activate to sort column ascending">Email</th>
                                <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"
                                    aria-sort="descending">Plan</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions"
                                    style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let table of tableDataList; let i=index">
                            <tr>
                                <td class="">
                                    <div class="media-chat-item hstack align-items-start gap-3">
                                        <div class="align-self-center">
                                            <span style="font-weight: 500;">{{table.first_name}}
                                                {{table.last_name}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="">{{table.mobile}}</td>
                                <td class="">{{table.email}}</td>
                                <td class="">{{table.plan}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary me-2" data-bs-original-title="Edit"
                                            (click)="openCreateModal(modalBox,table?.['_id'])"><i
                                                class="ph-fill ph-pencil-simple"></i></button>
                                        <button data-bs-toggle="modal"
                                            (click)="deleteUserModal(deleteModal,table?.['_id'])" type="button"
                                            class="btn btn-danger"><i class="ph-fill ph-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 px-4 py-3" id="DataTables_Table_0_info" role="status" aria-live="polite">
                        Showing
                        {{page}} to
                        {{length}} of {{totalCount}}
                        entries</div>
                    <div class="col-md-6">
                        <pagination class="paginations d-flex justify-content-center ms-auto p-2 custom-pagination"
                            [totalItems]="totalCount" (pageChanged)="loadPage($event)" [itemsPerPage]="limit"
                            [rotate]="" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;" [maxSize]="limit" [(ngModel)]="currentPage">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<ng-template #modalBox let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{id ? 'Update' : 'Create'}} Members</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="memberForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-3">
                <div class="row g-2">
                    <div class="col-sm-6 col-12">
                        <label class="form-label">First Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
                    </div>
                    <div *ngIf="memberForm.get('first_name').invalid && memberForm.get('first_name').touched">
                        First Name is required.
                    </div>
                    <div class="col-sm-6 col-12">
                        <label class="form-label">Last Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
                    </div>
                    <div class="col-sm-6 col-12">
                        <label class="form-label">Contact No <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" formControlName="mobile"
                            placeholder="Enter Mobile Number" />
                    </div>
                    <div class="col-sm-6 col-12">
                        <label class="form-label" for="email">Email <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
                    </div>
                </div>
                <div class="row mt-2 g-2">
                    <div class="col-sm-6 col-12">
                        <label class="form-label">Plan <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" formControlName="plan" placeholder="Enter Plan">
                    </div>
                    <div class="col-sm-6 col-12">
                        <label for="address">Address <span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" formControlName="address"
                            placeholder="Enter Address">
						</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn border-0 close-btn-color"
                    (click)="modal.dismiss('Cross click')">Close</button>
                <button type="submit" class="btn btn-primary">
                    {{id ? 'Update' : 'Create'}}
                </button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Delete modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header bg-soft-danger">
        <h5 class="modal-title mt-0">Confirm</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn close-btn-color border-0" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDelete();modal.dismiss('Cross click')">Delete</button>
    </div>
</ng-template>